

# dumb mac files
.DS_Store

# temporary emacs files
*~

#vivado files
*.jou
*.log

#build directory
/build

#ip directoryes 
#/modules/LSST_common/dcm_user_clk/doc

#bitfiles 
*.mcs
*.bit
*.mcs.gz
!*multiboot.mcs.gz
