# dumb mac files
.DS_Store

# temporary emacs files
*~

#vivado files
*.jou
*.log

#build directory
/build

#bitfiles
*.mcs
*.bit
*.mcs.gz
!*multiboot.mcs.gz
targets/*/images/*-dirty*
targets/*/build.info
