

# dumb mac files
.DS_Store

# temporary emacs files
*~

#vivado files
*.jou
*.log

#build directory
build/

#ip directoryes 
./modules/LSST_common/dcm_user_clk/doc

#old dir
./modules/LSST_common/dcm_user_clk_old/
./modules/LSST_common/look_at_me_old/
#tgz bitfiles 
*.mcs.gz
*.bit.gz
